#front-page-video-carousel{
  height: auto;
  width:100%;
}
#front-page-video-carousel .carousel-caption{
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#front-page-video-carousel .carousel-caption a{
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#front-page-video-carousel .carousel-caption i{
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 60px;
  color: green;
}
#front-page-video-carousel img{
  width: 100%;
}
#front-page-video-modal .modal-content {
    background-color: transparent;
    border: 0;
    position: relative;
}
#front-page-video-modal button {
    position: absolute;
    font-size: 14px;
    color: white;
    top: -10px;
    right: 5px;
    opacity: 0;
}
#front-page-video-modal .modal-header {
  background-color: transparent;
  border: 0;
}
