/* Download button styling */
.btn-hazelcast {
  color: #FFFFFF;
  background-color: #2e7de1; 
  border-color: #2e7de1; 
  font-family: "Open Sans"; 
  border-radius: 0em; 
  text-transform: none; 
}

#hazelcastForm {
	padding: 0em 1.5em; 
}

/* Radio button background color */ 
#hazelcastForm .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #2e7de1;
}

/* Radio button description */
#hazelcastForm .custom-control-description {
	font-family: "Open Sans"; 
}

#hazelcastForm .col-form-legend {
    font-family: "Open Sans";
    font-weight: 600;
    margin-bottom: 0.3em;
    padding-left: 0.3em;
}

#hazelcastForm .col-form-label {
    font-family: "Open Sans";
    font-weight: 600;
    margin-bottom: 0.3em;
    padding-left: 0.3em;
}

#hazelcastForm .form-control {
	font-family: "Open Sans"; 
}

#hazelcastForm select {
    width: 100%;
    height: 2.3em;
    font-family: "Open Sans";
    font-size: 1em;
}

#hazelcastForm small {
    font-size: 0.7em; 
    font-family: "Open Sans";
    margin-top: -20px; 
}

#hazelcastForm .img {
    width: 8em; 
    padding-left: 15px; 
}

