/* Download button styling */
#submitGroup .btn-hazelcast {
  color: #FFFFFF;
  background-color: #2e7de1; 
  border-color: #2e7de1; 
  font-family: "Ubuntu";
  border-width: 3px; 
  padding: 0.7em 2.5em; 
  text-transform: none; 
  font-weight: 500;
  font-size: 1.1em;
}

#submitGroup .btn-hazelcast:hover {
  color: #2e7de1;
  background-color: transparent; 
  border-color: #2e7de1; 
  border-width: 3px; 
  font-family: "Ubuntu"; 
  padding: 0.7em 2.5em; 
  text-transform: none; 
}

#hazelcastForm {
	padding: 0em 1.5em; 
}

/* Radio button background color */ 
#hazelcastForm .custom-control-input:checked ~ .custom-control-indicator {
    background-color: #2e7de1;
}

/* Radio button description */
#hazelcastForm .custom-control-description {
	font-family: "Ubuntu"; 
}

#hazelcastForm .col-form-legend {
    font-family: "Ubuntu";
    font-weight: 500;
    margin-bottom: 0.1em;
    padding-left: 0.3em;
}

#hazelcastForm .col-form-label {
    font-family: "Ubuntu";
    font-weight: 500;
    margin-bottom: 0.1em;
    padding-left: 0.3em;
}

#hazelcastForm .form-control {
	font-family: "Ubuntu"; 
}


#hazelcastForm small {
    font-size: 0.7em; 
    font-family: "Ubuntu";
    margin-top: -20px; 
}

.poweredBySpeedment {
    width: 9em;
    padding-left: 15px;
    margin-top: 10px;
}

.hazel-cast-title-area {
    font-family: "Ubuntu";
    font-size: 1.5em; 
    padding: 0.5em 1em; 
    margin: 0px 15px; 
    background: #a7b2b92e;
    color: black;
    margin-bottom: 1em;
}

.hazelcast-pom-tab {
    background: #2D3639;
    text-align: left;
    padding: 1.1em 1em;
    font-size: 1em;
    font-family: "Ubuntu";
    margin-left: 3em;
    color: white; 
} 

.hazelcast-code. pre[class*="language-"] {
    background: #0b2a35;
}

.hazelcast-code .token.attr-value {
	color: #ff5f00; 
}

.hazelcast-code 
.token.property, 
.token.tag, 
.token.boolean, 
.token.number, 
.token.constant, 
.token.symbol, 
.token.deleted {
	color: #2e7de1; 
}

.hazelcast-code
.token.selector, 
.token.attr-name, 
.token.string, 
.token.char, 
.token.builtin, 
.token.inserted {
	color: white; 
}

/* The container must be positioned relative: */
.form-select {
  position: relative;
  font-family: Arial;
}

.form-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

