#nav-bar-wrapper{
  position: fixed;
  width: 100%;
}
#developer-navbar {
    background-color: rgba( 9, 83, 119, 1);
}

#developer-navbar a {
    color: white;
}
#mobile-navbar{
  text-align: center;
}
#mobile-navbar .dropdown-menu {
  background-color: none;
  border: 0;
  text-align: center;
}
