#pricelist {
	   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.19);
}

#pricelist h1 {
	font-size: 2em; 
	text-transform: uppercase; 
}

#pricelist h2 {
	font-size: 1.7em; 
	font-weight: 400; 
}

#pricelist h4 {
    line-height: 1.3em;
    font-weight: 400;
    margin-bottom: 1em; 
    font-size: 1em; 
}

#pricelist h5 {
	line-height: 3em; 
	margin: 0px; 
}

#pricelist p {
	line-height: 3em; 
	margin: 0px; 
}

#pricelist a {
	color: #93c0e4; 
}

#pricelist .fa-lg {
 	vertical-align: 0%; 
 	line-height: 2.3em; 
}

/* To decorate rows */
.gray {
	background: #2D3639; 
	color: white; 
}

.lightgray {
	background: #4B595F; 
}

/* Popovers Styling */
.pop-div {
    font-size: 1em;
}
.pop-title {
    display: none;
    color: blue;
    font-size: 15px;
}
.pop-content {
    display: none;
    color: red;
    font-size: 10px;
}

/* Control appearence for smaller devices */ 
@media screen and (max-width: 795px) {
/*	
   #pricelist {
   display: none; 
  }*/
}

@media screen and (max-width: 480px) {
  #pricelist h5 {
	font-size: 0.8em;   
  }

  #pricelist .fa-lg {
  	font-size: 1em; 
  	line-height: 2.3em; 
  }
}
