#pricelist {
	   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.19);
}

#pricelist h1 {
	font-size: 1.8em; 
	text-transform: uppercase; 
	margin-top: 1em 0em 0.5em 0em; 
}

#pricelist h2 {
	font-size: 1.6em; 
	font-weight: 400; 
	text-transform: none; 
	margin: 0em 0em 0.5em 0em;
}

#pricelist h3 {
    line-height: 1.3em;
    font-weight: 400;
    margin: 0em 0em 0.5em 0em;
    font-size: 1em;
    font-style: italic; 
}

#pricelist h4 {
    line-height: 1.3em;
    font-weight: 400;
    margin: 0em 0em 1em 0em;
    font-size: 1em; 
    font-style: italic; 
}

#pricelist h5 {
	line-height: 3em; 
	margin: 0px; 
}

#pricelist p {
	line-height: 3em; 
	margin: 0px; 
}

#pricelist a {
	color: #93c0e4; 
}

#pricelist .fa-lg {
 	vertical-align: 0%; 
 	line-height: 2.3em; 
}

#pricelist .btn-primary {
	color: black;
	background-color: #fce390;
    	border-color: #fce390;
        margin: 2em 0em;
}

/* To decorate rows */
.gray {
	background: #2D3639; 
	color: white; 
}

.lightgray {
	background: #4B595F; 
}

/* FULL POPOVER CSS FOR ALL POPOVERS */
.popover {
  text-align: center;
  background-color: #CDD5DC;
  border: 1px solid #CDD5DC;
  border: 1px solid #CDD5DC;
  border-radius: 0px;
  font-family: "Titillium Web"; 
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
  border-color: #CDD5DC;
}
.popover.right > .arrow {
}
.popover.right > .arrow:after {
}
.popover.bottom > .arrow {
}
.popover.bottom > .arrow:after {
}

/* Control appearence for smaller devices */ 
@media screen and (max-width: 795px) {
/*	
   #pricelist {
   display: none; 
  }*/
}

@media screen and (max-width: 480px) {
  #pricelist h5 {
	font-size: 0.8em;   
  }

  #pricelist .fa-lg {
  	font-size: 1em; 
  	line-height: 2.3em; 
  }
}
