#pricelist h1 {
	font-size: 1em; 
	text-transform: uppercase; 
	font-weight: 400; 
	margin: 0em 0em 0.5em 0em; 
}

#pricelist h2 {
	font-size: 1.7em; 
	font-weight: 600; 
	text-transform: none; 
	margin: 0em 0em 0.5em 0em;
}

#pricelist h3 {
    line-height: 0em;
    font-weight: 400;
    margin: 0em 0em 1em 0em;
    font-size: 0.9em;
}

#pricelist h4 {
    line-height: 1.4em;
    font-weight: 400;
    margin: 1em 0em 1em 0em;
    font-size: 1em; 
    font-style: italic; 
}

#pricelist h5 {
	line-height: 2em; 
	margin: 0px; 
}

#pricelist h6 {
	font-size: 1em;
	font-weight: 400; 
	line-height: 0em; 
	text-transform: none; 
	margin-top: 1.5em;
	font-family: "Source Sans Pro"; 
}

#pricelist p {
	line-height: 3em; 
	margin: 0px; 
}

#pricelist a {
	color: #93c0e4; 
}

#pricelist .fa-lg {
 	vertical-align: 0%; 
 	line-height: 2.3em; 
}

#pricelist .btn-primary {
	border-width: 5px 10px; 
	border-radius: 10px;
	font-weight: 600;
	font-size: 1.2em; 
	color: white;
        margin: -1.2em 0em;
	vertical-align: top;
	box-shadow: 0 1px 3px #4c4c4c;
	text-shadow: 0px 1px 3px #9c9c9c; 
}

#pricelist .btn-green {
	background: #5ABF95;
	border-color: #5ABF95;
	vertical-align: -3.4em; 
}

#pricelist .btn-dev {
	vertical-align: -10em; 
}

#pricelist .btn-ent {
	vertical-align: -1.7em; 
}

#pricelist .btn-gray {
	background: #5A6B72;
	border-color: #5A6B72;
	font-weight: 600; 
	vertical-align: -2em; 
}
	
#pricelist .btn-blue {
	background: #92C0E3;
        border-color: #92C0E3;
	font-weight: 600; 
}

#pricelist .last-row {
	height: 1.7em; 
}

/* To decorate rows */
.gray {
	background: #2D3639; 
	color: white; 
	box-shadow: 0px 1px 3px #000; 
}

.lightgray {
	background: #A7B2B9; 
}

/* FULL POPOVER CSS FOR ALL POPOVERS */
#pricelist .popover {
  text-align: center;
  background-color: #CDD5DC;
  border: 1px solid #CDD5DC;
  border: 1px solid #CDD5DC;
  border-radius: 0px;
  font-family: "Titillium Web"; 
}
#pricelist .popover-content {
  padding: 9px 14px;
}
#pricelist .popover > .arrow,
#pricelist .popover > .arrow:after {
  border-color: transparent;
  border-style: solid;
}
#pricelist .popover > .arrow {
  border-width: 11px;
}
#pricelist .popover > .arrow:after {
  content: "";
  border-width: 10px;
  border-color: #CDD5DC;
}
#pricelist .popover.right > .arrow {
}
#pricelist .popover.right > .arrow:after {
}
#pricelist .popover.bottom > .arrow {
}
#pricelist .popover.bottom > .arrow:after {
}

/* Control appearence for smaller devices */ 

/* Padding on rows in pricelist*/ 
@media (min-width: 1200px) {
  .row.padding {
    padding: 0.5em;
  }
}
@media (min-width: 992px) {
  .row.padding {
    padding: 0.5em;
  }

  #pricelist .lightgray {
	  max-height: 315px; 
  }
}
@media (min-width: 768px) {
  .row.padding {
    padding: 0.5em;
  }
}
@media (min-width: 576px) {
  .row.padding {
    padding: 0.5em;
  }
}

@media screen and (max-width: 992px) {	
	#pricelist .btn-dev {
	  vertical-align: -2em; 
        }

        #pricelist .btn-gray {
	  vertical-align: -3.6em; 
        }  
}

@media screen and (max-width: 480px) {
  #pricelist h5 {
	font-size: 0.8em;   
  }

  #pricelist .fa-lg {
  	font-size: 1em; 
  	line-height: 2.3em; 
  }
	
  #pricelist {
	 margin: 1.2em;  
  }
}

@media screen and (max-width: 576px) {
  #pricelist .btn-green {
	 vertical-align: -1.5em; 
  }

  #pricelist .btn-gray {
	 vertical-align: -1.5em; 
  } 
}

@media screen and (min-width: 480px) and (max-width: 576px) { 
  #pricelist {
     margin: 2em;  
  }
}

#compare-plans .table {
	font-family: "Source Sans Pro"; 
	font-size: 1em;
	line-height: 1em; 
	font-weight: normal; 	
}

#compare-plans .table th {
	text-align: center; 
} 

#compare-plans #title .table th {
	text-align: left; 
}



	
