#usecase {
	border-bottom: solid 0.5px #808F95; 
  padding-bottom: 2em;
  margin: 2em; 
}

#usecase h1 {
	text-transform: uppercase; 
	margin-top: 0.2em; 
}

#usecase h3 {
  font-weight: 400; 
  font-style: italic; 
}

#usecase h5 {
  font-weight: 400;
  text-transform: uppercase; 
  margin: 0; 
}

#usecase p {
  font-size: 1.1em; 
  margin: 0.3em 0em; 
}
  
#usecase img {
  width: 70%;
  margin-bottom: 1em; 
}
  
